:root{
    --primary:lavender;
    --secondary:plum;
    --headings: purple;

}
*{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

}


.container{
    width:1500px;
    height: max-content;
    border: 1px solid var(--secondary);
    border-radius: 2px;
    background-color: var(--primary);
    margin: 20px;
    margin-bottom: 0px;
    padding: 40px;
    padding-right: 80px;
   
   
   
}
.heading{
    color:var(--primary);
    -webkit-text-stroke:0.2vw var(--headings);
    font-size: 3vw;
    animation: typing 4s steps(16)  infinite ;
    border-right: 2px dotted var(--secondary);
   
}
@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width:100% ;
    }
  }
  
 


.headerSec{
    display: inline-block;
    padding: 35px;
    border-bottom: 3px dotted var(--secondary);

}



.logo{
    border-radius: 100px;
    width: 150px;
    height: 75px;
    margin-right: 600px;
    border: 1px solid var(--secondary);
   
  
}

.headings{
    color:var(--headings);
    text-align: center;
}

.heading{
    color:var(--headings);
   
    
}


nav{
    float: right;
  
   
}
a{
    margin: 7px;
    color:var(--headings);
    text-decoration: none;
    
}
a:hover{
    color: var(--secondary);
    text-transform: uppercase;
}


.first{
    display: grid;
    grid-template-columns: 50% 30%;
    padding: 35px;
    padding-top: 80px;
   
}


p{
    font-family: 'Inter', sans-serif;
    font-size: medium;
    
}
.paragraphs:hover{
    
    font-weight: bold;
    cursor: pointer ;
    color: slateblue;
    text-transform: capitalize;
    font-size: small;
}
.paragraph{
    
    position: relative;
}



.tastement{

    padding-left: 300px;
    padding-right: 200px;
    justify-content: center;
    
}
.image{
    width: 250px;
    height:250px ;
    border-radius: 8px;
    
   
}

.picture{
    width: 500px;
    height: 650px;
    border-radius: 12px;
    margin-left: 170px;
    transition: height 2s;
    transform: rotate(10deg);
    
    

}
.picture:hover{
    height: 500px;
    transform: rotate(-10deg);
    

}


.pictures{
    width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-left: 5px;
    transition: 2s;

}

button{
    border-radius: 25px;
    margin: 10px;
    padding: 15px;
    border: 1px solid var(--secondary);

}
button:hover{
    background-color: transparent;
}
.primary{
    width: 300px;
    background-color: var(--secondary);
    cursor: pointer;
}
.secondary{
    width: 300px;
    background-color: azure;
    cursor: pointer;
  


}
.section-container{
    display: flex;
    text-align: center;
    padding: 35px;
    margin: 75px;
}
.arti{
  border: 12px;  
  margin: 14px;
  padding: 7px;
  border: 2px solid var(--secondary);
  border-radius: 6px;
  

}

.art{
    width: 400px;
    height: 400px;
    margin: 14px;
    padding: 7px;
    border-radius: 75px;
    background:  var(--primary);

}
.art:hover{
    background:white ;

    
}
.review{
    display: flex;
    padding: 35px;
    margin: 30px;

}
.texts{
    text-align: justify;
    
   
}

.reviewImage{
    width: 150px;
    height: 150px;
    border-radius: 250px;
    margin: 15px;
    padding:25px ;
}

footer{
    display: flex;
    padding: 40px;
    background-color:var(--primary);
    width: 1500px;
    padding-right: 100px;
    padding-left: 20px;
    margin: 20px;
    margin-top: 0px;
    border: 1px solid var(--secondary);
 
    
}
.navfooter{

    padding: 30px;
    padding-left: 500px;
   
    
    
}
.fa-brands{
    padding: 7px;
    margin: 7px;
    border:1px solid black;
    border-radius: 200px;
  
}
.icon{
    padding-left: 300px;
}
.shape{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-bottom: 35px;
}
.shape .shape1{
    width:  80px;
    height: 6px;
    border-radius: 4px;
    border: 1px solid var(--secondary);
    background: var(--secondary);
}

.shape .shape2{
    width:40px ;
    height: 6px;
    border-radius: 4px;
    border: 1px solid var(--secondary);
    background: var(--secondary);

}
.shape .shape3{
    width:8px ;
    height: 6px;
    border-radius: 2500px;
    border: 1px solid var(--secondary);
    background: var(--secondary);

}
.logoo{
    border-radius: 100px;
    width: 150px;
    height: 75px;
    padding-left: 0px;
    margin:20px ;
    border: 1px solid var(--secondary);
}
